*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body, html {
    background-color: black;
  
}

body {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: rgb(255, 255, 255);
    padding: 2rem 3rem;
    width: 100%;
    max-width: 350px;
    text-align: center;
    border-radius: 1rem;
    border-style: none;
}

.logo {
    width: 50px;
    height: auto;
    margin-bottom: 1rem;


}

form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.head {
    margin-bottom: 2rem;
    font-size: 1.5rem;
    color: rgb(25, 95, 136);
    font-family: Arial, Helvetica, sans-serif;
}

input{
    width: 100%;
    padding: 0.75rem;
    border-radius: 0.5rem;
    border: 0.7px solid black;
    
}

button {
    max-width: 100%;
    padding: 0.7rem;
    background-color:rgb(21, 121, 180)
    cursor:pointer;
    
    
}